/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 150px);
    color: aliceblue;
    background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

.container > div {
    font-size: 32px;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

